* {
    font-family: "Noto sans";
}

.grid-container {
    display: grid;
    grid-template-columns: 180px 180px 180px;
    grid-template-rows: 250px 250px 250px;
    background-color: rgba(255, 255, 255, 0.5);
    grid-gap: 5px;
}

/*Side bar style*/
  .side-bar{
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    /*background-image: linear-gradient(to top, rgb(158, 171, 231), #fff);*/
    background-image: url("side_back.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Style main part page*/   
.main {
    grid-column: 3 / 5;
    grid-row: 1 / 4;
    /*background-image: linear-gradient(to top, rgb(190, 210, 252), #fff);*/
    background-image: url("main_back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    grid-column: 3 / 5;
    grid-row: 2;
    text-align: center;
  }

h2{
    padding-left: 40px;
}

h4 {
    display: inline;
}

/* Change width of input fields */
textarea, input[type=text] {
    width: 95%;
    padding: 8px;
    margin: 5px 0 22px ;
    display: inline-block;
    border: none;
    background: white;
}

/*Round the image on the side bar*/
.my-image {
    width: 70%;
    margin-top: 40px;
    border-radius: 110px;
    margin-left: 40px;
}



.icon {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

ul {
    list-style: none;   
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 5px dotted #fff;
}

li {
    padding-top: 40px;
}

p {
    font-size: 25px;
    padding-left: 60px;
}

button {
    width: 200px;
    color:  whitesmoke; 
    background-color: rgb(77, 77, 124);
    font-size: 25px;
    text-align: center;
    padding: 30px 40px;
    cursor:pointer;
}

/*Change buttons of send form and back*/
.Send , .back {
    padding: 1px 10px;
    height: 30px;
    font-size: 15px;
    border-radius: 12px;
    float: right;
}


/* Change the color of links on hover */
a:hover {
    background-color: #ddd;
    color: black;
}
  
  /* Add a color to the active/current link */
a.active {
    background-color: #2b8ae2;
    color: white;
  }
  
